<h1>
    Registro studenti
</h1>
    
<p>Ci scusiamo per il disagio...</p>
    
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Link with href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Nuova anagrafica
</button>
<div class="collapse" id="collapseExample">
    <div class="well">
        <div class="form-group col-md-6 col-sm-12">
            <label for="exampleName1">Data</label>
            <input type="date" class="form-control" id="exampleName1" name="name" ng-model="day.date" placeholder="Inserire un nome">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="exampleName1">Ore di lezione</label>
            <input type="number" class="form-control" id="exampleName1" name="name" ng-model="day.hlesson" placeholder="Inserire un nome">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="exampleName1">Presenze</label>
            <input type="number" class="form-control" id="exampleName1" name="name" ng-model="day.hlesson" placeholder="Inserire un nome">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="exampleName1">Assenze</label>
            <input type="number" class="form-control" id="exampleName1" name="name" ng-model="day.hlesson" placeholder="Inserire un nome">
        </div>
    </div>
</div>
    

<!--table class="table table-striped">
    <thead></thead>
    <tbody></tbody>
</table-->